@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none; /* Removes the default underline applied to links.  */
  color: inherit;
  /*Makes the text color of the link inherit the color of its parent element.
By default, links have a unique color (blue/purple) applied by browsers. This resets it to match the surrounding text for consistency. */
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
